.sectionContainer {
  padding: 0 1rem 5rem 1rem;
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
}

.posterContainer {
  overflow: hidden;
}

.poster {
  width: 100%;
  max-width: 32rem;
  margin: auto;
  margin-top: 2rem;

  display: block;

  transition: transform 0.8s;
}

.poster:hover {
  transform: scale(1.015);

  transition: transform 0.8s;
}

@media (width >= 1200px) {
  .sectionContainer {
    padding: 0 2rem 10rem 2rem;
  }

  .title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .posterContainer {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}

@media (width >= 1520px) {
  .poster {
    max-width: 40rem;
  }
}
