.section {
  padding-top: 5rem;
}

.title {
  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
}

@media (width >= 1220px) {
  .section {
    padding-top: 10rem;
  }

  .title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}
