.nav {
    position: sticky;
    top: 0;
    
    background-color: white;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);

    z-index: 100;
}

.container {
    padding: 1.25em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: auto;
    position: relative;
}

.brand {
    margin-left: .500em;

    font-size: 1.5rem;
    font-weight: 800;

    background: -webkit-linear-gradient(90deg, rgba(203,66,148,1) 0%, rgba(208,143,23,1) 100%);
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

   cursor: pointer;
}

/* Queries */

@media (width >= 75em) {
    .container {
        max-width: 80em;
        padding: 1.55em;
    }

    .brand {
        margin-left: 0
    }
}