.skeleton {
  max-width: 35rem;
  margin: auto;
}

.skeleton div {
  aspect-ratio: 4 / 2.5;
  margin-top: 6rem;

  background-color: rgba(185, 185, 185);

  -webkit-animation: pulse 2s ease-in-out infinite;
  animation: pulse 2s ease-in-out infinite;
}

.skeleton > div {
  margin-top: 0;
}

@media (min-width: 1220px) {
  .skeleton {
    max-width: 78rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .skeleton > div {
    width: 42rem;
    margin: 0;
  }

  .skeleton > aside > div {
    width: 21rem;
    margin: 0 0 1rem 1rem;
  }

  .skeleton > aside > div:last-child {
    margin: 0 0 0 1rem;
  }
}

@media (min-width: 1520px) {
  .skeleton {
    max-width: 95rem;
  }

  .skeleton > div {
    width: 54rem;
    margin: 0;
  }

  .skeleton > aside > div {
    width: 27rem;
  }
}

/* Animations */
@-webkit-keyframes pulse {
  0% {
    background-color: rgba(0, 0, 0, 0.2);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.4);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
@keyframes pulse {
  0% {
    background-color: rgba(0, 0, 0, 0.2);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.4);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
