.section {
  padding: 5rem 0.5rem;

  text-align: center;

  background-color: #f9f9f9;
}

.section > p {
  margin-bottom: 1rem;

  font-size: 1.5rem;

  color: #565758;
}

.section > a {
  font-size: 1.5rem;
  font-weight: 600;

  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;

  color: #565758;
}

.section > a:hover {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;

  color: #212529;
}

@media (min-width: 720px) {
  .section > p {
    font-size: 1.75rem;
  }

  .section > a {
    font-size: 1.75rem;
  }
}

@media (min-width: 1220px) {
  .section {
    padding: 10rem 0;
  }

  .section > p {
    font-size: 2rem;
  }

  .section > a {
    font-size: 2rem;
  }
}
