.footer {
  padding: 5rem 1rem 2rem 1rem;

  background-color: #212529;
}

.address {
  display: inline-block;
  vertical-align: middle;

  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;

  color: white;
}

.icon {
  width: 1.5rem;
  margin-right: 0.5rem;

  display: inline-block;
  vertical-align: middle;
}

.email,
.copyright {
  font-size: 1.15rem;

  color: #ffffffa6;
}

.email {
  margin: 1rem 0 2rem 0;

  display: block;

  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;

  cursor: pointer;
}

.email:hover {
  color: white;

  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
}

.contributorsContainer {
  margin-bottom: 5rem;

  font-size: 1.15rem;
}

.contributorsContainer > span {
  display: block;
  margin-bottom: 0.5rem;

  color: #ffffffa6;
}

.contributorsContainer a {
  text-decoration: underline;
  color: white;
}

.copyright {
  margin-top: 4rem;

  text-align: center;
}

.socials > li {
  display: inline-block;
  margin-right: 0.5rem;
}

/* Media Queries */
@media (width >= 1220px) {
  .footer {
    padding: 8rem 8rem 2rem 8rem;
  }
}
