.footer {
  padding: 5rem 1rem 2rem 1rem;

  background-color: #212529;
}

.title {
  color: white;

  display: flex;
  align-items: center;

  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;

  margin-bottom: 1em;
}

.icon {
  width: 1.5rem;
  margin-right: 0.25rem;

  display: block;
}

.email,
.copyright {
  font-size: 1.15rem;

  color: #ffffffa6;
}

.email {
  cursor: pointer;

  transition: color 0.5s;
}

.email:hover {
  color: white;

  transition: color 0.5s;
}

.copyright {
  margin-top: 4rem;

  text-align: center;
}

.socials {
  display: flex;

  list-style: none;

  margin-top: 3rem;
}

.socials img {
  margin-right: 1rem;
}

@media (width >= 720px) {
  .container {
    max-width: 50rem;
    margin: auto;
  }
}

@media (width >= 1200px) {
  .container {
    max-width: 70rem;
  }
}

@media (width >= 1520px) {
  .container {
    max-width: 90rem;
  }
}
