.section {
  padding: 5rem 1rem;
  margin-top: 5rem;

  background-color: #f9f9f9;
}

.title {
  margin-bottom: 2rem;

  font-size: 2.25rem;
  font-weight: 700;
  text-align: center;
}

.articles {
  max-width: 35rem;
  margin: auto;
}

.aside > article {
  margin-top: 1rem;
}

/* Media Queries */
@media (width >= 1220px) {
  .section {
    padding: 10rem 2rem;
    margin-top: 10rem;
  }

  .title {
    margin-bottom: 4rem;

    font-size: 3rem;
  }

  .articles {
    max-width: 80rem;

    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  /* For main article */
  .articles > article {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .articles > article img {
    width: 40.5rem;
  }

  /* For aside articles */
  .aside > article {
    margin: 0 0 1rem 1rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .aside > article img {
    width: 20rem;
  }
}

@media (width >= 1520px) {
  .articles {
    max-width: 95rem;
  }

  /* For main article */
  .articles > article img {
    width: 50.3rem;
  }

  .articles > article a {
    font-size: 1.5rem;
  }

  .articles > article span {
    font-size: 1.25rem;
  }

  /* For aside articles */
  .aside > article img {
    width: 25rem;
  }

  .aside > article a {
    font-size: 1.35rem;
  }

  .aside > article span {
    font-size: 1.15rem;
  }
}
