.sectionContainer {
    background-color: #f9f9f9;

    padding: 5em 0;
}

.titleContainer > h2 {
    margin-bottom: 1em;

    text-align: center;
    font-size: 2.250rem;
}

.articlesContainer {
    display: flex;
    flex-direction: column;

    padding: 1em;
}

.secondaryContainer {
    max-width: 35em;
    margin: auto;
}

@media (width >= 75em) {
    .sectionContainer {
        padding: 10em 0;
    }

    .titleContainer > h2 {
        font-size: 3rem;
    }

    .articlesContainer {
        max-width: 70em;
        margin: auto;

        justify-content: space-evenly;
        flex-direction: row;
    }

    .secondaryContainer {
        margin: 0;

        display: flex;
        flex-direction: column;
    }
}

@media (width >= 95em) {
    .articlesContainer { 
        max-width: 90em;
    }

    .secondaryContainer {
        max-width: 42em;
    }
}