.articlesSection {
    background-color: #f9f9f9;

    padding: 5em 0;
}

.titleContainer > h2 {
    margin-bottom: 1em;

    text-align: center;
    font-size: 2.250rem;
}

.articlesWrapper {
    display: flex;
    flex-direction: column;
}

.articlesWrapper > div {
    display: flex;
    flex-direction: column;

    padding: 1em;
}

.secondaryWrapper {
    max-width: 35em;
    margin: auto;
}

@media (width >= 75em) {
    .articlesWrapper {
        justify-content: center;
        flex-direction: row;

        max-width: 95em;
    }

    .secondaryWrapper {
        margin: 0;
    }
}

@media (width >= 95em) {
    .articlesWrapper { 
        margin: auto;
    }

    .secondaryWrapper {
        max-width: 42em;
    }

    .titleContainer > h2 {
        font-size: 3rem;
    }
}