.section {
  margin: 5rem 1rem;
}

.container {
  max-width: 55ch;
  margin: auto;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.textContainer p {
  margin-top: 1rem;

  font-size: 1.25rem;
  line-height: 1.5em;

  color: #717275;
}

.textContainer img {
  width: 100%;
  margin: 1rem 0;
}

@media (min-width: 720px) {
  .title {
    font-size: 2.5rem;
  }

  .textContainer {
    max-width: 80ch;
    margin: auto;
  }

  .textContainer p {
    margin-top: 2rem;
    font-size: 1.3rem;
  }

  .textContainer img {
    width: 50%;
    margin: 2rem;
    float: right;
  }
}

@media (min-width: 1220px) {
  .section {
    padding: 10em 0;
  }

  .title {
    margin-bottom: 3rem;
    font-size: 3rem;
  }

  .textContainer {
    max-width: 100ch;
  }

  .textContainer p {
    font-size: 1.35rem;
  }
}
