.teamContainer {
    padding: 5em 0;
}

.teamText {
    display: flex;
    flex-direction: column;
 
    padding: 0 1em;
    margin: auto;
    max-width: 40em;
}

.teamText > div {
    margin-bottom: 2em;
}

.teamText > div > h2 {
    font-size: 2.25rem;
    margin-bottom: 1em;
}

.teamText > div > p {
    font-size: 1.25rem;

    line-height: 1.5em;

    color: #717275;
}

.teamText > div > p > strong {
    background: -webkit-linear-gradient(90deg, rgba(203,66,148,1) 0%, rgba(208,143,23,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (width >= 75em) {
    .teamContainer {
        padding: 15em 0;
    }

    .teamText {
        flex-direction: row;
        flex-wrap: wrap;

        max-width: 80em;
    }

    .teamText > div:first-of-type {
        flex: 0 1 100%;
    }

    .teamText > div {
        flex: 1 0 50%;

        margin: 0;
    }

    .teamText > div > h2 {
        margin-left: .65em;
        
        font-size: 3rem;
    }

    .teamText > div > p {
        margin-left: 1.5em;
    }
}