.section {
  padding-top: 5rem;
}

.poster {
  width: 100%;
  min-height: 30rem;
  max-height: 30rem;

  display: block;

  object-fit: cover;
  -o-object-fit: cover;
  -o-object-position: center;
  object-position: center;

  opacity: 0;

  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.blurLoad::before {
  content: "";
  position: absolute;
  inset: 0;

  -webkit-animation: pulse 2s infinite ease-in-out;
  animation: pulse 2s infinite ease-in-out;
}

.blurLoad.loaded::before {
  content: none;
}

.blurLoad {
  width: 100%;
  min-height: 30rem;
  max-height: 30rem;

  position: relative;

  background-size: cover;
  background-position: center;

  background-color: rgb(185, 185, 185);
}

.loaded {
  opacity: 1;
}

.blurLoad.loaded > img {
  opacity: 1;
}

/* Media Queries */
@media (width >= 1220px) {
  .section {
    padding-top: 10rem;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
  }

  .poster {
    min-height: 35rem;
    max-height: 35rem;
  }

  .blurLoad {
    width: 25%;
    min-height: 35rem;
    max-height: 35rem;
  }
}

@media (width >= 1520px) {
  .blurLoad {
    max-height: 40rem;
  }

  .poster {
    max-height: 40rem;
  }
}

/* Animations */
@-webkit-keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
  }
}
