.skeleton {
  width: 100%;
  max-width: 30rem;
  margin: auto;
}

.itemsWrapper > div {
  width: 100%;
  margin-top: 2.5rem;

  -webkit-animation: pulse 2s ease-in-out infinite;
  animation: pulse 2s ease-in-out infinite;
}

.itemsWrapper > div {
  aspect-ratio: 9 / 12;
}

.itemsWrapper:first-child > div:first-child,
.itemsWrapper:last-child > div:last-child {
  aspect-ratio: 4 / 2.5;
}

/* Media Queries */
@media (min-width: 1220px) {
  .skeleton {
    max-width: 90rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .skeleton > div {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .skeleton > div:first-child {
    margin-right: 2.5rem;
  }
}

/* Animations */
@-webkit-keyframes pulse {
  0% {
    background-color: rgba(0, 0, 0, 0.2);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.4);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

@keyframes pulse {
  0% {
    background-color: rgba(0, 0, 0, 0.2);
  }
  50% {
    background-color: rgba(0, 0, 0, 0.4);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
