.infoContainer {
  padding: 4rem 1rem;

  background-color: #212529;
  color: white;
}

.title {
  margin-bottom: 0.5rem;

  font-size: 2rem;
  line-height: 3rem;

  opacity: 0;
}

.subtitle {
  margin-bottom: 2rem;

  font-size: 1.25rem;
  font-weight: 500;
  line-height: 2rem;

  opacity: 0;
}

.infoContainer > div {
  opacity: 0;
}

.infoContainer a {
  margin-bottom: 0.5rem;

  display: block;

  font-weight: 600;

  color: white;

  cursor: pointer;

  -webkit-tap-highlight-color: transparent;
}

.infoContainer a:last-child {
  margin-bottom: 0;
}

/* Media Queries */
@media (width >= 1220px) {
  .infoContainer {
    width: 30%;
    padding: 5rem 2rem;
  }
}
