.section {
  padding: 5rem 1rem;
}

.title {
  margin-bottom: 2rem;

  font-size: 2.25rem;
  text-align: center;
}

.contactForm {
  margin: auto;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;

  max-width: 40em;
}

.personalData {
  width: 100%;

  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.personalData > div {
  width: 47%;
}

.contactForm input {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;

  border: 1px solid #ced4da;

  transition: border 0.2s ease, -webkit-box-shadow 0.2s ease;
  -webkit-transition: border 0.2s ease, -webkit-box-shadow 0.2s ease;
  -o-transition: border 0.2s ease, box-shadow 0.2s ease;
  transition: border 0.2s ease, box-shadow 0.2s ease;
  transition: border 0.2s ease, box-shadow 0.2s ease,
    -webkit-box-shadow 0.2s ease;
}

.contactForm input::-webkit-input-placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 1rem;

  color: #8e9093;
}

.contactForm input::-moz-placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 1rem;

  color: #8e9093;
}

.contactForm input:-ms-input-placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 1rem;

  color: #8e9093;
}

.contactForm input::-ms-input-placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 1rem;

  color: #8e9093;
}

.contactForm input::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 1rem;

  color: #8e9093;
}

.contactForm label {
  font-weight: 600;

  color: #717275;
}

.contactForm label::after {
  content: " *";

  color: #dc3545;
}

.descriptionContainer {
  width: 100%;
  margin-top: 2.5rem;
}

.descriptionContainer > textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  padding: 1rem;
  margin-top: 1rem;

  border: 1px solid #ced4da;

  transition: border 0.2s ease, -webkit-box-shadow 0.2s ease;
  -webkit-transition: border 0.2s ease, -webkit-box-shadow 0.2s ease;
  -o-transition: border 0.2s ease, box-shadow 0.2s ease;
  transition: border 0.2s ease, box-shadow 0.2s ease;
  transition: border 0.2s ease, box-shadow 0.2s ease,
    -webkit-box-shadow 0.2s ease;

  &::-webkit-input-placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 1rem;

    color: #8e9093;
  }

  &::-moz-placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 1rem;

    color: #8e9093;
  }

  &:-ms-input-placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 1rem;

    color: #8e9093;
  }

  &::-ms-input-placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 1rem;

    color: #8e9093;
  }

  &::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 1rem;

    color: #8e9093;
  }
}

.contactForm input:focus,
.contactForm textarea:focus {
  border: 1px solid rgba(203, 66, 148, 1);
  -webkit-box-shadow: 0 0 0 5px rgb(255, 148, 212);
  box-shadow: 0 0 0 5px rgb(255, 148, 212);
  outline: none;
}

.submit {
  width: 100%;
  padding: 1rem;
  margin-top: 3rem;

  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;

  background: -webkit-linear-gradient(
    140deg,
    rgba(203, 66, 148, 1) 0%,
    rgba(208, 143, 23, 1) 100%
  );
  color: white;

  border: none;
  border-radius: 2rem;

  -webkit-tap-highlight-color: transparent;

  cursor: pointer;
}

.submit:focus {
  outline: none;
}

/* Modal */
.overlay {
  width: 100vw;
  height: 100vh;

  display: none;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 20;

  background-color: rgba(0, 0, 0, 0.8);

  animation: fade-in 0.5s 0.1s both ease-out;
  -webkit-animation: fade-in 0.5s 0.1s both ease-out;
}

.tick {
  width: 10rem;
  margin-bottom: 2rem;
}

.modal {
  padding: 5rem 6rem;

  position: absolute;
  left: 50%;
  top: 50%;

  text-align: center;

  border-radius: 5%;

  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  background-color: white;

  animation: fade-in 0.5s 0.1s both ease-out;
  -webkit-animation: fade-in 0.5s 0.1s both ease-out;
}

.modal > p:first-of-type {
  margin-bottom: 1rem;

  font-size: 1.75rem;
  font-weight: 500;
}

.modal > p:last-child {
  font-size: 1.15rem;

  color: gray;
}

.modal > button {
  padding: 1rem 5rem;
  margin-top: 3rem;

  font-size: 1.15rem;

  border: gray 1px solid;
  border-radius: 3rem;

  background-color: white;
  color: gray;

  cursor: pointer;
}

.visible {
  display: block;
}

/* Media Queries */
@media (width >= 720px) {
  .modal {
    padding: 5rem 10rem;
  }
}

@media (width >= 1200px) {
  .section {
    padding: 10rem 1rem;
  }

  .title {
    margin-bottom: 4rem;

    font-size: 2.8rem;
  }

  .submit {
    max-width: 25rem;
    margin: 4rem auto auto auto;
  }
}

/* Animations */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
