.secondaryArticle {
  position: relative;
}

.thumbnailContainer {
  position: relative;
}

.thumbnailContainer:hover {
  .line {
    width: 100%;
    transition: width 0.5s ease;
  }
}

.thumbnail {
  width: 100%;

  display: block;

  cursor: pointer;
}

.line {
  width: 0%;
  height: 5px;

  position: absolute;
  left: 0;
  bottom: 0;

  background: -webkit-linear-gradient(
    140deg,
    rgba(203, 66, 148, 1) 0%,
    rgba(208, 143, 23, 1) 100%
  );

  transition: width 1s cubic-bezier(1, 0, 0.76, 0.63);
}

.tag {
  padding: 0.5rem 1rem;

  position: absolute;
  top: 0;
  left: 0;

  background: -webkit-linear-gradient(
    140deg,
    rgba(203, 66, 148, 1) 0%,
    rgba(208, 143, 23, 1) 100%
  );
  color: white;
}

.articleFooter {
  padding: 1em;
}

.articleFooter a {
  margin-bottom: 0.5rem;

  display: block;

  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;

  color: #717275;

  transition: color 300ms;
}

.articleFooter a:hover {
  color: black;

  transition: color 300ms;
}

.articleFooter span {
  color: #929396;

  font-weight: 500;
}

/* Media Queries */
@media (width >= 1200px) {
  .secondaryArticle {
    display: flex;
    margin-bottom: 1rem;
  }

  .thumbnail {
    width: 18rem;
    min-height: 11.5rem;
    max-height: 11.5rem;
  }

  .articleFooter {
    max-width: 15rem;
  }
}

@media (width >= 1520px) {
  .secondaryArticle {
    margin-bottom: 2rem;
  }

  .thumbnail {
    width: 20rem;
    min-height: 14.4rem;
    max-height: 14.4rem;
  }

  .articleFooter {
    max-width: 21rem;
  }
}
