.articleContainer {
    position: relative;
}

.articleImage {
    width: 100%;
    display: block;
    cursor: pointer;
}

.articleTag {
    background: -webkit-linear-gradient(140deg, rgba(203,66,148,1) 0%, rgba(208,143,23,1) 100%);

    color: white;

    padding: .400em .800em;

    position: absolute;
    top: 0;
}

.infoContainer {
    padding: 1em;
}

.titleContainer {
    margin-bottom: 1.500em;
    cursor: pointer;
}

.titleContainer > a {
    color: #717275;

    font-size: 1.200rem;
    font-weight: 600;
    text-decoration: none;

    transition: color 300ms;
}

.titleContainer > a:hover {
    color: black;

    transition: color 300ms;
}

.infoContainer > span {
    color: #929396;

    font-weight: 500;
}


@media (width >= 75em) {
    .articleContainer {
        display: flex;
        margin-bottom: 2em;
    }
    
    .articleImage {
        width: 15.800em;
        min-height: 11em;
        max-height: 11em;
    }

    .infoContainer {
        max-width: 12em;
    }
}

@media (width >= 95em) {
    .articleImage {
        width: 18.800em;
        min-height: 13em;
        max-height: 13em;
    }

    .infoContainer {
        max-width: 22em;
    }
}
