.list {
  margin: 0;

  display: flex;
}

.list > li {
  margin: 0 1em;

  font-size: 1.5rem;
}

.list a {
  font-size: 1.15rem;
  font-weight: 600;
  text-decoration: none;

  color: #717275;

  transition: color 300ms;
}

.list a:hover {
  color: rgba(203, 66, 148, 1);

  transition: color 300ms;
}

/* Queries */
@media (width < 1200px) {
  .list {
    display: none;
  }
}
