.heroContainer {
    min-height: 250px;
    max-height: 250px;

    background-color: black;

    position: relative;

    overflow: hidden;
}

.heroText {
    width: 90%;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    color: #fff;

    text-align: center;
    
    z-index: 10;
}

.heroText > h1 {
    margin: .5em 0 .25em 0;
    font-size: 2rem;

    animation: pop-up .340s 1.2s ease-out both;
}

.heroText > p {
    font-size: 1rem;

    animation: fade-up .340s 1.4s ease-out both;
}

.heroText > p > strong {
    border-bottom: 2px solid white;
    padding-bottom: 2px;
}

.heroImage {
    width: 100%;
    min-height: 250px;
    object-fit: cover;

    animation: fade-down 1s ease-out forwards;
}

.heroOverlay {
    background: linear-gradient(to top, rgb(21, 21, 21), transparent 95%);

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* Queries */

@media (width >= 45em) {
    .heroContainer, .heroImage {
        min-height: 450px;
    }

    .heroText > h1 {
        font-size: 3rem;
    }

    .heroText > p {
        font-size: 1.5rem;
    }
}

@media (width >= 75em) {
    .heroContainer, .heroImage {
        min-height: 650px;
    }

    .imageContainer {
        overflow: hidden;
    }

    .heroText > h1 {
        font-size: 4.5rem;
    }
}

@media (width >= 95em) {
    .heroContainer, .heroImage {
        min-height: 92vh;
    }
}

@keyframes fade-up {
    0%{transform: translateY(100px); opacity: 0}
    100%{transform: translateY(0); opacity: 1}
}

@keyframes pop-up {
    0%{transform: scale(.6); opacity: 0}
    100%{transform: scale(1.1); opacity: 1}
}

@keyframes fade-down {
    0%{transform: translateY(-10px); opacity: 0;}
    100%{transform: translateY(0); opacity: 1;}
}