.section {
  aspect-ratio: 4 / 2.5;
  width: 100%;
  max-height: 92vh;

  position: relative;

  overflow: hidden;

  background-color: black;
}

.blurLoad::before {
  content: "";

  position: absolute;
  inset: 0;

  -webkit-animation: pulse 2s infinite ease-in-out;
  animation: pulse 2s infinite ease-in-out;
}

.blurLoad.loaded::before {
  content: none;
}

.blurLoad {
  width: 100%;

  position: relative;

  background-size: cover;
}

.loaded {
  opacity: 1;
}

.blurLoad.loaded > img {
  opacity: 1;
}

.headerTitles {
  width: 80%;

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  text-align: center;

  color: #fff;
}

.headerTitles > h1 {
  margin-bottom: 1rem;

  font-size: 2rem;

  -webkit-animation: pop-up 0.5s 1.2s ease-out both;
  animation: pop-up 0.5s 1.2s ease-out both;
}

.headerTitles > h2 {
  font-size: 1rem;
  font-weight: 500;

  -webkit-animation: slide-up 0.5s 1.4s ease-out both;
  animation: slide-up 0.5s 1.4s ease-out both;
}

.backgroundImage {
  width: 100%;
  min-height: 100%;

  -o-object-fit: cover;
  object-fit: cover;

  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;

  opacity: 0;
}

.overlay {
  background: -o-linear-gradient(bottom, rgb(21, 21, 21), transparent 95%);
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgb(21, 21, 21)),
    color-stop(95%, transparent)
  );
  background: linear-gradient(to top, rgb(21, 21, 21), transparent 95%);

  position: absolute;
  inset: 0;
  z-index: 1;
}

/* Media Queries */
@media (min-width: 720px) {
  .headerTitles > h1 {
    font-size: 3rem;
  }

  .headerTitles > h2 {
    font-size: 1.25rem;
  }
}

@media (min-width: 1220px) {
  .headerTitles > h1 {
    font-size: 4.5rem;
  }

  .headerTitles > h2 {
    font-size: 1.5rem;
  }
}

/* Animations */
@-webkit-keyframes pop-up {
  0% {
    opacity: 0;

    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    opacity: 1;

    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pop-up {
  0% {
    opacity: 0;

    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    opacity: 1;

    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes slide-up {
  0% {
    opacity: 0;

    -webkit-transform: translateY(3rem);
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;

    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;

    -webkit-transform: translateY(8rem);
    transform: translateY(8rem);
  }
  100% {
    opacity: 1;

    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
