.mainArticle {
  max-width: 35rem;
  margin: auto;
}

.thumbnailContainer {
  position: relative;
}

.thumbnailContainer:hover {
  .line {
    width: 100%;

    transition: width 0.8s ease;
  }
}

.thumbnail {
  width: 100%;

  display: block;

  cursor: pointer;
}

.tag {
  padding: 0.5rem 1rem;

  position: absolute;
  top: 0;
  left: 0;

  background: -webkit-linear-gradient(
    140deg,
    rgba(203, 66, 148, 1) 0%,
    rgba(208, 143, 23, 1) 100%
  );
  color: white;
}

.line {
  width: 0%;
  height: 5px;

  position: absolute;
  left: 0;
  bottom: 0;

  background: -webkit-linear-gradient(
    140deg,
    rgba(203, 66, 148, 1) 0%,
    rgba(208, 143, 23, 1) 100%
  );

  transition: width 1s cubic-bezier(1, 0, 0.76, 0.63);
}

.articleFooter {
  padding: 1em;
}

.articleFooter a {
  margin-bottom: 0.5rem;

  display: block;

  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;

  color: #717275;

  transition: color 0.3s;
}

.articleFooter a:hover {
  color: black;

  transition: color 0.3s;
}

.articleFooter span {
  font-weight: 500;

  color: #929396;
}

/* Media Queries */
@media (width >= 1520px) {
  .mainArticle {
    max-width: 45rem;
  }
}
