.mainContainer {
  position: relative;

  max-width: 35em;
  margin: auto;
}

.articleImage {
  width: 100%;

  display: block;

  cursor: pointer;
}

.articleTag {
  padding: 0.4em 0.8em;

  position: absolute;
  top: 0;
  left: 0;

  background: -webkit-linear-gradient(
    140deg,
    rgba(203, 66, 148, 1) 0%,
    rgba(208, 143, 23, 1) 100%
  );
  color: white;
}

.imageContainer {
  position: relative;
}

.line {
  width: 0%;
  height: 5px;

  position: absolute;
  left: 0;
  bottom: 0;

  background: -webkit-linear-gradient(
    140deg,
    rgba(203, 66, 148, 1) 0%,
    rgba(208, 143, 23, 1) 100%
  );

  transition: width 1s cubic-bezier(1, 0, 0.76, 0.63);
}

.imageContainer:hover {
  .line {
    width: 100%;
    transition: width 0.8s ease;
  }
}

.infoContainer {
  padding: 1em;
}

.titleContainer {
  margin-bottom: 1.5em;

  cursor: pointer;
}

.titleContainer > a {
  color: #717275;

  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;

  transition: color 300ms;
}

.titleContainer > a:hover {
  color: black;

  transition: color 300ms;
}

.infoContainer > span {
  color: #929396;

  font-weight: 500;
}

@media (width >= 95em) {
  .mainContainer {
    max-width: none;
  }

  .articleImage {
    width: 41em;
  }
}
