.section {
  position: relative;

  background-color: #d78cae;
}

.headerTitles {
  width: 70%;

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  text-align: center;

  color: white;
}

.headerTitles > h1 {
  margin-bottom: 1rem;

  font-size: 2rem;

  -webkit-animation: pop-up 0.5s 1.2s ease-out both;
  animation: pop-up 0.5s 1.2s ease-out both;
}

.headerTitles > h2 {
  font-size: 1rem;
  font-weight: 500;

  -webkit-animation: slide-up 0.5s 1.4s ease-out both;
  animation: slide-up 0.5s 1.4s ease-out both;
}

.headerTitles strong {
  padding-bottom: 0.13rem;

  border-bottom: 2px solid white;
}

.backgroundVideo {
  width: 100%;
  aspect-ratio: 4 / 2;

  -o-object-fit: cover;

  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;

  background: -o-linear-gradient(bottom, rgb(35, 35, 35), transparent 95%);
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgb(35, 35, 35)),
    color-stop(95%, transparent)
  );
  background: linear-gradient(to top, rgb(35, 35, 35), transparent 95%);
}

/* Media Queries */
@media (width >= 720px) {
  .headerTitles > h1 {
    font-size: 3rem;
  }

  .headerTitles > h2 {
    font-size: 1.25rem;
  }
}

@media (width >= 1220px) {
  .headerTitles > h1 {
    font-size: 4.5rem;
  }

  .headerTitles > h2 {
    font-size: 1.5rem;
  }

  .backgroundVideo {
    height: 92vh;

    -o-object-fit: cover;
    object-fit: cover;
  }
}

/* Animations */
@-webkit-keyframes pop-up {
  0% {
    opacity: 0;

    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    opacity: 1;

    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pop-up {
  0% {
    opacity: 0;

    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    opacity: 1;

    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes slide-up {
  0% {
    opacity: 0;

    -webkit-transform: translateY(3rem);
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;

    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;

    -webkit-transform: translateY(8rem);
    transform: translateY(8rem);
  }
  100% {
    opacity: 1;

    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
