.listWrapper {
    display: none;
}

.navbarList {
    display: flex;

    margin: 0;

    list-style: none;
}

.link {
    text-decoration: none;

    color: gray;

    transition: color 200ms ;
}

.link:hover, .active {
    color: rgba(203,66,148,1);

    transition: color 200ms ;
}

/* Queries */
@media (width >= 75em) {
    .listWrapper {
        display: block;
    }

    .navbarList > li {
        margin: 0 1em;

        font-size: 1.5rem;
    }

    .navbarList > li > a {
        font-size: 1.15rem;
        font-weight: 600;
    }
}