*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Montserrat, sans-serif;
}

a,
button {
  cursor: revert;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ol,
ul,
menu {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
menu {
  padding: 0;
  margin: 0;
}

button,
optgroup,
select {
  font-family: Montserrat, sans-serif;
}

::placeholder {
  font-family: Montserrat, sans-serif;
}
